.container-board {
	display: flex;
	width: 50%;
	margin: 0px auto;
	flex-direction: column;
}

.parent{
	width: 100%; 
	display: flex; 
	align-items: center;
}

.second, .thrid, .fourth, .fifth{
	width: 100%
}

#btn-save{
	width: 20%;
}

.third, .fifth, .container-board{
	margin-top: 20px;
}
