.container-main {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 80%;
	margin: 0px auto;
}
.container-page{
	min-height: 500px;
}
.container-page-content{
	width: 80%;
	margin: auto;
}
.container-tab{
	background-color: #FFFFFF;
	min-height: 500px;
	border-top: 7px solid #205295;
}

* {
  box-sizing: border-box;
}


body {
	font-family: '맑은 고딕','Malgun Gothic','나눔고딕',NanumGothic,Helvetica,sans-serif;
  color: #555;
}

.book-container {
    width: 180px;
}

.book-container img {
    border-radius: 3px;
    width: 180px;
    height: 260px;
    object-fit: cover;
}

.card-text {
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
	margin-top: 10px;
	margin-bottom: 5px;
}

.secondNav a {
	font-size: 18px;
	color: #365486;
	margin: 0px 50px;
}

.firstNav-right {
	font-size: 15px;
	margin-right: 20px;
}

.firstNav-left img {
	width: 50px;
	height: auto;
}

.firstNav-left a {
	padding: 0px;
	font-size: 20px;
}

.nav {
    display: flex;
    align-items: center;
}

nav{
	background-color: white;
}

.ms-auto img {
	margin-left: 10px;
	width: 28px;
	height: auto;
}

.noti-icon {
	margin-right: 10px;
}

ul {
    padding-left: 0px;
}

.noticeList li {
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
    padding-right: 85px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: inherit;
}

.noticeList .date {
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: 0;
}

.notice-box{
    float: left;
    width: 480px;
    height: 243px;
    border-bottom: 1px solid #d0cfcf;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3.title {
    padding-bottom: 15px;
    font-size: 1.286em;
    line-height: 1.111em;
    text-align: left;
    color: #333;
}

.notice-box .title{
    margin-bottom: 15px;
    border-bottom: 3px solid #ccc;
}

.blue-line {
    border-color: #0066b3 !important;
}

.carousel{
	height: 350px;
	margin-bottom: 20px;
}

.toast{
	display: none;
}

.notification-container {
    position: relative;
    display: inline-block; /* Ensures the container only takes as much width as necessary */
}

.notification-number {
    position: absolute;
    top: -5px;
    right: -2px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 10px;
}