.container-main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 80%;
	margin: 0px auto;
}

body {
	font-family: '맑은 고딕','Malgun Gothic','나눔고딕',NanumGothic,Helvetica,sans-serif;
  color: #555;
}

.rec-book {
	margin: 10px;
	margin-bottom: 70px;
	width: 180px; 
	height: 260px;
}

.rec-book p {
	margin-top: 10px;
}

.rec-book img {
	border-radius: 3px;
	width: 100%; 
	height: 100%; 
	object-fit: cover;
}

.secondNav a {
	font-size: 18px;
	color: #365486;
	display: flex;
	justify-content: space-between;
}

.secondNav li:not(:last-child){
	margin-right: 70px;
}

.firstNav-right {
	font-size: 15px;
	margin-right: 20px;
}

.banner {
	margin-top: 50px;
}

.firstNav-left img {
	width: 50px;
	height: auto;
}

.firstNav-left a {
	padding: 0px;
	font-size: 20px;
}

.nav {
    display: flex;
    align-items: center;
}

.py-3{
    padding-bottom: 0px !important;
}

nav{
	background-color: white;
}

.ms-auto img {
	margin-left: 10px;
	width: 28px;
	height: auto;
}

.noti-icon {
	margin-right: 10px;
}

ul {
    padding-left: 0px;
}

.noticeList li {
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
    padding-right: 85px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: inherit;
}

.noticeList .date {
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: 0;
}

.notice-box{
    float: left;
    width: 500px;
    height: 243px;
    border-bottom: 1px solid #d0cfcf;
    margin: 20px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3.title {
    padding-bottom: 15px;
    font-size: 1.286em;
    line-height: 1.111em;
    text-align: left;
    color: #333;
}

.notice-box .title{
    margin-bottom: 15px;
    border-bottom: 3px solid #ccc;
}

.blue-line {
    border-color: #0066b3 !important;
}

.carousel{
	height: 350px;
	margin-bottom: 20px;
}

.toast{
	display: none;
}

header{
	margin-bottom: 20px;
}