/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	margin-top: 10px;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 0; /* 필요에 따라 패딩 조절 */
	transition: 0.3s;
	font-size: 17px;
	width: 16.66%; /* 버튼의 너비를 100%를 버튼의 개수로 나눈 값으로 설정 */
	box-sizing: border-box;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 0; /* 필요에 따라 패딩 조절 */
	transition: 0.3s; /* 패딩과 테두리를 너비에 포함시킴 */
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

#home {
	display: flex;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}


.table-bordered {
	border: 1px solid #dee2e6;
}

.table {
	width: 100%;
	margin-bottom: 1rem;
}

table {
	border-collapse: collapse;
}

.card-title h5 {
	margin-bottom: 15px;
}
.myPage-title{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 15px;
}

.myPage-icon{
float:left;
width: 26px;
margin-bottom: 15px;
margin-right: 10px;
}

.myInfo{
	display: flex;
	align-items: center;
}

.myInfo h4{
	margin: 0px !important;
}

#btn-edit, #btn-save{
	width: 100%;
}

.edit-img{
	width: 20px;
}

.edit-text{
	margin: 0px 15px;
}

.edit-button, .save-button{
	display: flex;
	justify-content: flex-end;
}

.container-myInfo{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 60%;
	margin: 0px auto;
}

.save-change{
	display: flex;
	justify-content: center;
	display: none;
}